<form enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    <div class="grid grid-cols-4 gap-4 mt-4 cont-form">
        <!-- 🧱 Columna izquierda (3/4) -->
        <div class="col-span-3 space-y-4 grid grid-cols-2 gap-3 ">
            {% for field in form %}
                {% if field.name == "nombre_blog" or field.name == "slug" or field.name == "contenido" %}
                <div {% if field.name == "contenido" %} class="col-span-2" {%endif%} >
                    <label class="text-white font-bold w-full block mb-1" for="{{ field.id_for_label }}">{{ field.label }}</label>
                    
                    {% if field.name == "contenido" %}
                        <textarea class="w-full border border-white rounded-lg px-4 py-2" name="{{ field.name }}" id="{{ field.id_for_label }}" rows="6">{{ field.value|safe }}</textarea>
                    {% else %}
                        <input class="w-full border-1 border-white rounded-lg text-white px-4 py-1" type="{{ field.type }}" name="{{ field.name }}" id="{{ field.id_for_label }}" value="{{ field.value}}" class="form-control">
                    {% endif %}

                    {% if field.errors %}
                        <div class="text-danger text-white">
                            {{ field.errors }}
                        </div>
                    {% endif %}
                </div>
                {% endif %}
            {% endfor %}
        </div>

        <!-- 🎛️ Columna derecha (1/4) -->
        <div class="col-span-1 space-y-4">
            {% for field in form %}
                {% if field.name != "nombre_blog" and field.name != "slug" and field.name != "contenido" %}
                <div>
                    <label class="text-white font-bold w-full block mb-1" for="{{ field.id_for_label }}">{{ field.label }}</label>

                    {% if field.name == "miniatura_blog" or field.name == "url_img_cta" %}
                        {% if field.value %}
                            <img id="preview-{{ field.name }}" src="{{ field.value.url }}" class="rounded-lg mb-2 w-full"/>
                        {% else %}
                            <img id="preview-{{ field.name }}" src="#" class="rounded-lg mb-2 hidden w-full" />
                        {% endif %}

                        <input 
                            type="file" 
                            name="{{ field.name }}" 
                            id="{{ field.id_for_label }}" 
                            class="w-full border border-white bg-white rounded-lg px-4 py-1" 
                            onchange="previewImage(event, '{{ field.name }}')"
                        >
                    {% elif field.name == "fecha_redaccion_blog" %}
                        <input class="w-full border border-white rounded-lg px-4 py-1" type="date" name="{{ field.name }}" id="{{ field.id_for_label }}" value="{{ field.value|date:'Y-m-d' }}">
                    {% else %}
                        {{ field }}
                    {% endif %}

                    {% if field.errors %}
                        <div class="text-danger text-white">
                            {{ field.errors }}
                        </div>
                    {% endif %}
                </div>
                {% endif %}
            {% endfor %}
            <div class="flex flex-wrap justify-end gap-3 w-full py-5 sticky top-1 bg-neutral-800">
          <p class="w-full text-white">Verifique que la información esta completa antes de guardar los cambios.</p>
          <a class="bg-neutral-500 hover:bg-neutral-400 text-neutral-950 font-bold py-2 px-4 rounded-lg" href="{% url 'posts' %}">Cancelar</a>
          <input class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg" value="Guardar" type="submit" />
        </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    ClassicEditor
    .create(document.querySelector('#id_contenido'), {
        ckfinder: {
            uploadUrl: '/ckeditor/upload/'
        },
        toolbar: [
            'heading', '|',
            'bold', 'italic', 'link', 'bulletedList', 'numberedList', '|',
            'imageUpload', 'blockQuote', 'undo', 'redo'
        ],
        heading: {
            options: [
                { model: 'paragraph', title: 'Párrafo', class: 'ck-heading_paragraph' },
                { model: 'heading2', view: 'h2', title: 'Encabezado 2', class: 'ck-heading_heading2' },
                { model: 'heading3', view: 'h3', title: 'Encabezado 3', class: 'ck-heading_heading3' },
                // puedes agregar más si quieres: h4, h5, etc.
            ]
        }
    })
    .then(editor => {
            editor.editing.view.change(writer => {
                writer.setStyle('min-height', '200vh', editor.editing.view.document.getRoot());
            });
        })
    .catch(error => {
        console.error(error);
    });
      
    function previewImage(event, fieldName) {
        const input = event.target;
        const imgPreview = document.getElementById('preview-' + fieldName);

        if (input.files && input.files[0]) {
            const reader = new FileReader();
            reader.onload = function(e) {
                imgPreview.src = e.target.result;
                imgPreview.classList.remove('hidden'); // por si estaba oculta
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
